body {
    font-size: 16px;
    color: green;
    text-align : center;
    margin-top: 50px;
}

img {
    width: 150px;
    height: 100px;
}

h4 {
    font-size: 16px;
    color: rgb(187, 187, 187);
    text-align : center;
    margin-top: 50px;
}

h3 {
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align : left;
    margin-top: 50px;
}

h6 {
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align : right;
    margin-top: 50px;
} 